/*
Style Sheet for Justice Banson
* version: 4.2
* last modified: 7.8.2020
* author: Justice Banson
* email: justice@justicebanson.com;
* website: Lesson 6.
 */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

//variables

$color-1: #22bbd4;
$color-2: #2c6e78;
$text-color: #fff;

* {
    box-sizing: border-box;
}
body{
    font-family: 'Nunito';
}
.box {
    font-weight: bold;
    padding: 0.8em;
    color: #fff;
    border: 1px solid $text-color;
}
.color-1 {
    background: $color-1;
}
.color-2 {
    background: $color-2;
}

// grid
.grid{
    display: grid;

    // grid-template - column or row
    // adding more width settings automatically changes the amount of columns
    // grid-template-columns: 300px 150px 300px;

    // percentage - %
    // grid-template-columns: 30% 40% 30%;

    // grid-template-rows: 150px 200px;

    // gap - column-gap & row-gap
    // creates gap between the content, not around the element as a whole
    grid-gap: 1rem;

    // fr - fractional unit
    // equivalent to grid-template-columns: 30% 40% 30%
    // grid-template-columns: 1fr 2fr 1fr;
    
    // grid-template-columns: 1fr 1fr 1fr;

    // repeat()
    // [amount of times], [element]
    grid-template-columns: repeat(3, 1fr);

    // auto rows
    // grid-auto-rows: auto;

    grid-auto-rows: 150px;
    // grid-template-columns: 1fr 200px 1fr;

    // minmax()
    // grid-template-columns: 1fr minmax(100px, 200px) 1fr;

    // repeat and minmax
    // grid-template-columns: repeat(3, minmax(100px, 200px));

    // auto-fit and auto-fill
    // grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
}

// .header{
//     // grid-column-start: 1;
//     // grid-column-end: 3;
    
//     // grid-row-start: 1;
//     // grid-row-end: 2;

//     // grid-column and -row shorhand
//     grid-column: 1/3;
//     grid-row: 1/2;
// }
// .nav{
//     grid-column: 3/4;
//     grid-row: 1/3;
// }
// .footer{
//     grid-column: 2/4;
// }

// grid-templace Areas
.grid{
    grid-template-areas: 
    "header header header"
    "nav main main"
    "nav main main"
    "aside aside section"
    "aside aside section"
    "footer footer footer";
}
.header{
    grid-area: header;    
}
.nav{
    grid-area: nav;
}
.main{
    grid-area: main;
}
.aside{
    grid-area: aside;
}
.section{
    grid-area: section;
}
.footer{
    grid-area: footer;
}