@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.13.1/css/all.css");
* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  margin: 0px;
  padding: 0px;
  font: 20px/1.5 'Nunito', sans-serif;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 5;
}

header .logo {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 700;
  color: white;
  float: left;
  padding: 1em 3.5em 1em 0.5em;
}

header nav {
  background: transparent !important;
  text-align: center;
}

nav a {
  padding: 1em 2.5em;
  display: inline-block;
  color: white;
  text-decoration: none;
}

a {
  transition: .3s all ease;
  text-decoration: none;
}

a:hover {
  color: #697e83;
}

.heroimage {
  background-image: url(../images/home.jpg);
  background-size: cover;
  height: 100vh;
}

.main-padding {
  padding: 7em 0em;
}

.sideleft {
  width: 30%;
  float: left;
  text-align: center;
}

.sub-heading {
  text-transform: uppercase;
  font-size: 12px;
  color: #cccccc;
  letter-spacing: .1em;
}

.heading {
  font-size: 50px;
  margin-bottom: 30px;
}

.button {
  background-color: #697e83;
  transition: .3s all ease;
  padding: 12px 30px;
  margin-top: 1em;
  text-transform: uppercase;
  letter-spacing: .15em;
  color: #fff;
  border: 1px solid #697e83;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.button:hover {
  background-color: white;
  color: #697e83;
}

.sideright {
  width: 60%;
  float: right;
}

.bg-color {
  background-color: #f8f9fa !important;
}

.feature {
  text-align: center;
}

.feature-image img {
  display: inline-block;
  width: 300px;
  margin: 1em;
}

.newsletter {
  padding: 2em;
  color: white;
  background-color: #35424a;
  overflow: hidden;
}

.newsletter h1 {
  float: left;
  padding-top: 0.7em;
}

.newsletter form {
  float: right;
  margin: 10px;
}

.newsletter input[type="email"] {
  padding: 20px 30px;
  height: 2.8em;
  width: 250px;
  outline: none;
}

footer {
  text-align: center;
}

.footer {
  float: left;
  width: 33%;
  text-align: center;
  margin-bottom: 4em;
}

.main-footer {
  padding: 4em 0em 0.9em 0em;
  background-color: #f2f2f2;
}

.copyright {
  text-align: center;
}

.clearfix {
  float: clear;
}

.rooms-pic-1 {
  max-width: 30%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 0 1em;
  padding-top: 0.5em;
}

.rooms-pic-1 figure {
  float: left;
}

.rooms-body {
  background-color: white !important;
  padding: 30px;
  border: 1px solid #e6e6e6;
  border-top: none;
}

.img {
  max-width: 100%;
  height: auto;
}
