@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js");
:root {
    --main-color: #05a081;
    --text-color: #fff;
    --dark-color: #000;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
}

.logo {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}

.banner {
    background: url(../images/code.png);
    width: 100%;
    height: 60vh;
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    /* display: flex; */
    justify-content: center;
    text-align: center;
    /* flex-wrap: wrap; */
}

/* nav ul - grid */

nav ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

nav ul li {
    /* flex: 1; */
    margin: 0 .4rem;
}

nav ul li a {
    display: block;
    text-decoration: none !important;
    text-transform: uppercase;
    padding: 1.2rem 1em;
    color: var(--text-color);
    font-weight: bold;
}

/* Dropdown navigation*/

nav ul li ul{
    width: 100%;
    grid-template-columns: 1fr;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
nav ul li ul a{
    display: block;
}
nav ul li:hover ul{
    max-height: 300px;
}



/* Hover effects */

nav ul li a, nav ul li a:after, nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: var(--text-color);
}

nav.menu ul li a {
    position: relative;
}

nav.menu ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--text-color);
    height: 3px;
}

nav.menu ul li a:hover:after {
    width: 100%;
}

/* New */

/* media query */

.fa-bars{
    font-size: 1.6rem;
    position: absolute;
    right: .5rem;
    top: 1rem;
    cursor: pointer;
}
#toggle, .label{
    display: none;
}

@media(max-width:700px) {
    header {
        display: block;
    }
    .logo {
        display: flex;
        margin-left: 2rem;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: none !important;
        /* transform: scale(0); */
        max-height: 0;
        opacity: 0;
        transform: translateY(-200%);
        transform: translateX(200%);
        overflow: hidden;
        transition: all 0.6s ease;
        position: absolute;
        left: 0;
        top: 100%;
    }
    .label {
        display: block !important;
        cursor: pointer;
    }
    #toggle:check+ul{
        /* transform: scale(1); */
        max-height: 500px;
        opacity: 1;
        transform: translateY(0);
        transform: translateX(0);
    }

    .nav a {
        display: block;
        margin: 0;
    }
    .fa-bars {
        font-size: 26px;
        line-height: 70px;
        position: absolute;
        top: 1rem;
        right: .5rem;
        width: 30px;
        color: var(--text-color);
        z-index: 1;
    }
    nav li ul {
        visibility: hidden;
    }
}

/* Features */

.features {
    text-align: center;
    margin: 1rem 0;
}

.features-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.features .fas {
    font-size: 60px;
    color: var(--main-color);
}

.features h4 {
    margin: 1rem 0;
}