@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
@import url("https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.13.1/css/all.css");

// VARIABLES

$white-color: #fff;
$main-color: #697e83;
$display-style: inline-block;

*{
    box-sizing: border-box;
}

// INDEX

body{
    background-color: #f4f4f4;
    margin: 0px;
    padding: 0px;
    font: 20px/1.5 'Nunito', sans-serif;
}

header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 5;
    text-align: center;
    padding: 2rem 4rem;
}
.header-grid{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
}
header .logo{
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 700;
    color: white;
}
// header nav{
//     background: transparent !important;
//     text-align: center;
// }
// nav a{
//     padding: 1em 2.5em;
//     display: inline-block;
//     color: white;
//     text-decoration: none;
// }
// a{
//     transition: .3s all ease, -webkit-transition, -o-transition;
//     text-decoration: none;
// }
// a:hover{
//     color: $main-color;
// }

button{
    margin-top: 0 !important;
}

#toggle{
    display: none;
}
.label{
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 30px;
    float: right;
    color: $white-color;
}

nav{
    ul{
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        text-align: center;
        transition: max-height 0.3s;
    }
    li{
        list-style: none;
        padding: 1rem 0;
    }
    a{
        color: $white-color;
        font-weight: 300;
        opacity: 1;
        text-decoration: none;
        transition: 0.3s all ease;
    }
    a:hover{
        opacity: 0.6;
        color: $white-color;
    }
}

.heroimage{
    background-image: url(../images/home.jpg);
    background-size: cover;
    height: 100vh;
}
.heroitems{
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    z-index: 2;
    color: $white-color;
    h1{
        font-size: 3em;
    }
    p{
        font-size: 1.4em;
        padding-bottom: 2rem;
    }
}
.heroimage:before{
    content:"";
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-padding{
    padding: 7em 0em;
}
.main-grid{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 4rem;
}

.sideleft{
    text-align: center;
}

.sub-heading{
    text-transform: uppercase;
    font-size: 12px;
    color: #cccccc;
    letter-spacing: .1em;
}

.heading{
    font-size: 50px;
    margin-bottom: 30px;
}

.button{
    background-color: $main-color;
    transition: .3s all ease;
    padding: 12px 30px;
    margin-top: 1em;
    text-transform: uppercase;
    letter-spacing: .15em;
    color: $white-color;
    border: 1px solid #697e83;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
.button:hover{
    background-color: $white-color;
    color: $main-color;
}

.bg-color{
    background-color: #f8f9fa !important;
}

.feature{
    text-align: center;
}
.feature-image img{
    display: $display-style;
    width: 300px;
    margin: 1em;
}

.newsletter{
    padding: 2.4em;
    color: $white-color;
    background-color: #35424a;
    overflow: hidden;
}
.newsletter-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}
.newsletter input[type="email"]{
    padding: 20px 30px;
    height: 2.8em;
    width: 250px;
    outline: none;
}

footer{
    text-align: center;
}
.footer{
    text-align: center;
    margin-bottom: 4em;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.main-footer{
    padding: 4em 0em 0.9em 0em;
    background-color: #f2f2f2;
}
.copyright{
    text-align: center;
}

.clearfix{
    float: clear;
}

// ROOMS

.rooms{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.rooms-pic-1{
    position: relative;
    overflow: hidden;
    padding: 0 1em;
    padding-top: 0.5em;
}
.rooms-body{
    background-color: $white-color !important;
    padding: 30px;
    border: 1px solid #e6e6e6;
    border-top: none;
}
.img{
    max-width: 100%;
    height: auto;
}

// CONTACT

.contactform input[type="text"], .contactform input[type=”email”], .contactform textarea{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}
.contactform{
    width: 70%;
    padding-bottom: 4em;
    margin: auto;
}

// GALLERY

// .item{
//     width: 330px;
//     display: $display-style;
//     margin: 1rem;
//     position: relative;
//     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
//     transition: all 0.3s cubic-bezier(.25,.8,.25,1);
// }

.container-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    grid-gap: 20px;
    margin: 0.2em 2em 0.2em 2em;
}

.item>img{
    width: 100%;
    height: 100%
}
.item>img:hover{
    box-shadow: 0 8px 16px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    cursor: pointer;
    filter: property blur(2px) brightness(60%);
}

// MEDIA QUERY

@media(max-width: 992px){
    .label{
        display: block;
        cursor: pointer;
    }

    nav ul{
        text-align: center;
        grid-template-columns: 1fr;
        justify-content: center;
        margin: 0 auto;
        top: 5.6em;
        width: 80%;
        left: 10%;
        position: absolute;
        background-color: rgba(0,0,0,0.8);
        max-height: 0;
        overflow: hidden;
    }
    nav a{
        opacity: 1;
    }
    #toggle:checked+.menu{
        max-height: 300px;
    }
    header>div .logo{
        float: left;
        padding: 1em 0.5em 0.5em 0.5em;
    }

    .menu a{
        display: block;
        margin: 0;
    }

    .heroitems{
        height: 100vh;
    }
    .heroitems h1{
        font-size: 40px;
    }

    .sideleft .sideright, .newsletter h1, .newsletter form, .footer, .feature-image img, .newsletter input[type="email"], button, .contactform, .button, textarea, .rooms-pic-1{
        width: 100%;
        text-align: center;
        margin: 0.8 0 0.8 0;
    }

    .rooms-pic-1{
        max-width: 100%;
    }

    .sideleft{
        padding-bottom: 1em;
    }
    .sideleft img{
        width: 80%;
    }

    .main-padding{
        padding: 2em 0;
    }

    .heroitems p{
        font-size: 25px;
        margin-bottom: 20px;
    }

    .footer{
        margin-bottom: 1em;
    }

    button{
        margin-top: 1em !important;
    }

    .pagination{
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: row;
        padding-left: 0;
        list-style: none;
        border-radius: 0.25rem;
    }
    .page-item{
        background-color: inherit;
        top: 0;
    }
}

@media(max-width: 600px){
    .rooms, .newsletter-grid, .footer-grid, .main-grid{
        grid-template-columns: 1fr;
    }
    .footer-grid{
        display: block;
    }
}

@media(max-width: 480px){
    .heroitems h1{
        font-size: 30px;
    }
    .heroitems p{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .page-link{
        font-size: small;
    }
}